@font-face {
    font-family: 'BrandonRegular';
    src: url("../fonts/brandon-text-regular.woff") format("woff");
}

@font-face {
    font-family: 'BrandonMedium';
    src: url('../fonts/brandon-text-medium.woff')format('woff');
}


@font-face {
    font-family: 'BrandonBold';
    font-style: bold;
    src: url("../fonts/brandon-text-bold.woff") format("woff");
}

body{
    margin-top: 3em;
    font-family: "BrandonRegular";
    background-color: #F9FAFB;
    text-align: center;
    margin-bottom: 5em;
}

em {
    font-style: normal;
    font-weight: bold;
}

.way-logo{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.order-ready{
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .1em;
    padding-bottom: 4em;
}

h1{
    font-family: "BrandonBold";
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

h2{
    font-family: "BrandonBold";
    font-size: 36px;
}

h3{
    font-family: "BrandonBold";
    font-size: 24px;
}

.order-graphic-box {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.order-number-box {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 6em;
    margin-left: auto;
    margin-right: auto;
}

.order-number {
    padding-bottom: 1em;
}

.order-number div{
    line-height: 1em;
}

.pickup-info {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3em;
}

.pickup-info div em {
    color: #12B2EB;
    font-weight: normal;
}

.employee-note {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    line-height: 1.3em;
}

.paperless {
    margin-top: 3em;
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding-bottom: 4em;
}

.paperless-note {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3em;
}

.paperless-note div em {
    color: #12B2EB;
}

.chatbox {
    background-color: black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.chatbox p{
    text-transform: uppercase;
    color: #12B2EB;
    font-weight: bold;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}
/* 
.receipt p{
        display: table;
        width: 100%;

}

.first, .price{
    display: table-cell;
} */

.receipt {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3em;

}

.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    height: 1.5em;
}

.quantity {
    margin-right: 2em;
    text-align: left;
    width: 1.3em;
}

.item {
    width: 12em;
    text-align: left;
}

.price {
    margin-left: 10em;
    width: 13em;
    text-align: right;
}

.line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.line hr {
    color: #868686;
    font-weight: 100;
}

.subtitle {
    width: 8em;
    text-align: left; 
}
.subtitle-price {
    margin-left: 12em;
    width: 16em;
    text-align: right;
}

.total {
    width: 20em;
    text-align: left; 
}

.total-price {
    width: 8em;
    margin-left: 8em;
    text-align: right;
}
